<html>
    <head>
        <title>Leafspider Sparrow</title>
        <link rel="icon" type="image/x-icon" href="/static/img/logo.png"/>
        <link href='/static/css/style.css?bob' rel="stylesheet" type="text/css" ></link>
        <link href='https://code.highcharts.com/dashboards/css/datagrid.css' rel="stylesheet" type="text/css" ></link>
        <script src='/static/js/jquery.min.js'></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/dashboards/datagrid.js"></script>
        <!--script src='/static/js/gray.js'></script-->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script></script>
    </head>

    <body class="{{flow}}-bg">

		<div class="ls-header">	
			<a class="ls-header-link" href="https://leafspider.com">            
				<div class="ls-header-title" style="background-image:url('static/img/logo.png');"></div>
				Leafspider | Sparrow
			</a>              
            <!-- div class="ls-header-subtitle">
                Sparrow
            </div -->        
		</div>
        			
        <div id="div-menu">
            <table>
                <tr>
                    <td><a href="/handler" class="menu-tab">Handler</a></td>
                    <td><a href="/researcher" class="menu-tab">Researcher</a></td>
                    <td><a href="/scheduler" class="menu-tab">Scheduler</a></td>
                </tr>
            </table>
        </div>

        {% block content %}
        {% endblock %}

    </body>

</html>