# base
flask 
asyncio
python-dotenv

# jackdaw
google-api--python-client 
google-auth-oauthlib 
google-auth-httplib2
osmnx
scikit-learn
requests
networkx
shapely
# google-maps-routeoptimization
# google-auth
# matplotlib

